## Pandas is python library for efficient data manipulation.

### Dataframe and series

In [2]:
import pandas as pd
# dataframe is a table of data
df = pd.DataFrame({
    'name': ['John', 'Jane', 'Joe'],
    'age': [20, 21, 22],
    'city': ['New York', 'London', 'Paris']
})
print(df)

   name  age      city
0  John   20  New York
1  Jane   21    London
2   Joe   22     Paris

In [6]:
# each column is a series
name = df['name']
print(name)
age = df['age']
print(age.max())

0    John
1    Jane
2     Joe
Name: name, dtype: object
22

In [7]:
# create a series from a list
new_series_name = 'salary'
s = pd.Series([1000, 5000, 800], name=new_series_name)
print(s)
df[new_series_name] = s
print(df)

0    1000
1    5000
2     800
Name: salary, dtype: int64
   name  age      city  salary
0  John   20  New York    1000
1  Jane   21    London    5000
2   Joe   22     Paris     800

In [9]:
# access an element in a dataframe
print(df.loc[0])
print('___')
print(df.loc[0, 'name'])

name          John
age             20
city      New York
salary        1000
Name: 0, dtype: object
___
John