# Débutant

In [3]:
# 1️Créer un DataFrame à partir d’un tableau NumPy
import pandas as pd
import numpy as np
data = np.array([["Romeo", "4 ans", 20], ["Navony", "3 ans", 23], ["Mario", '1 an', 21]])
df = pd.DataFrame(data, columns=['Nom', 'Experience', 'Age'])
print(df)

      Nom Experience Age
0   Romeo      4 ans  20
1  Navony      3 ans  23
2   Mario       1 an  21

In [7]:
# 2️Remplacer les valeurs NaN dans un DataFrame avec NumPy
df = pd.DataFrame({'A': [1, 2, np.nan], 'B': [4, np.nan, np.nan], 'C': [7, 8, 9]})
print(df)
df.fillna(0, inplace=True)
print(df)

     A    B  C
0  1.0  4.0  7
1  2.0  NaN  8
2  NaN  NaN  9
     A    B  C
0  1.0  4.0  7
1  2.0  0.0  8
2  0.0  0.0  9

In [11]:
# 3 Afficher les premières lignes d’un DataFrame
#→ Charge un DataFrame contenant 1000 lignes et affiche les 10 premières.
df = pd.DataFrame(np.random.randint(0, 100, size=(1000, 3)), columns=["Score", "Age", "Experience"])
print(df)
print(df.head(10))

     Score  Age  Experience
0       93    0          42
1        2   27          79
2       57   74          39
3       18   60          48
4       85   73          49
..     ...  ...         ...
995     62   51          65
996     33   90          96
997     15   46          17
998     75   61          94
999     97   31          37

[1000 rows x 3 columns]
   Score  Age  Experience
0     93    0          42
1      2   27          79
2     57   74          39
3     18   60          48
4     85   73          49
5      5   37          95
6     63   91          23
7     57   98          78
8     44   14           2
9     26   69          91

In [13]:
# 4 Accéder à une colonne spécifique
#→ Affiche uniquement la colonne Score du DataFrame précédent.
print(df["Score"].head(10))

0    93
1     2
2    57
3    18
4    85
5     5
6    63
7    57
8    44
9    26
Name: Score, dtype: int64

In [14]:
# 5 ajout d'une colonne
df['notes'] = np.random.randint(0, 100, size=1000)
print(df.head(10))

   Score  Age  Experience  notes
0     93    0          42     54
1      2   27          79      1
2     57   74          39     16
3     18   60          48     59
4     85   73          49      5
5      5   37          95     66
6     63   91          23     25
7     57   98          78     73
8     44   14           2     33
9     26   69          91     95

In [15]:
# 6 filtrage
print(df[df["Score"] > 50].head(10))

    Score  Age  Experience  notes
0      93    0          42     54
2      57   74          39     16
4      85   73          49      5
6      63   91          23     25
7      57   98          78     73
11     65   34          31     97
12     56   70          27     42
14     81   60          63     68
15     85   24          29     90
17     77   38          49     98