# CRUD operations with sqlite3

In [1]:
# importing the sqlite3 module
import sqlite3
# creating a connection to the database
conn = sqlite3.connect('example.db')
# creating a cursor object to execute SQL commands
c = conn.cursor()

In [2]:
# creating a table
c.execute('''CREATE TABLE IF NOT EXISTS students
             (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
conn.commit()

In [3]:
# inserting data into the table
c.execute('''INSERT INTO students (name, age)  VALUES ('John', 20)''')
c.execute('''INSERT INTO students (name, age) VALUES ('Jane', 21)''')
c.execute('''INSERT INTO students (name, age) VALUES ('Joe', 22)''')
conn.commit()

In [10]:
# selecting data from the table
c.execute('''SELECT * FROM students''')
print(c.fetchall())

[(1, 'John', 23), (3, 'Joe', 22)]

In [9]:
# updating data in the table
c.execute('''UPDATE students SET age = 23 WHERE name = 'John' ''')
conn.commit()

In [7]:
# deleting data from the table
c.execute('''DELETE FROM students WHERE name = 'Jane' ''')
conn.commit()